body{
    background-color: #fff1d1;
}

p{
   font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    color: #1a1269;
}

h2{
    color: #1a1269;
}
link{
    color: #1a1269;
}
b{
    color: #1a1269;
}